# Minio
MINIO_ROOT_USER=minioadmin
MINIO_ROOT_PASSWORD=MON_MOT_DE_PASSE
MINIO_ENDPOINT=localhost:9000

# PostgreSQL
POSTGRES_USER=etl_user
POSTGRES_PASSWORD=MON_MOT_DE_PASSE
POSTGRES_DB=etl_database
POSTGRES_HOST=postgres
POSTGRES_PORT=5433

# Airflow
AIRFLOW_USER=admin
AIRFLOW_PASSWORD=MON_MOT_DE_PASSE
AIRFLOW_DB=airflow
AIRFLOW_FERNET_KEY=MON_FERNET_KEY
AIRFLOW_EXECUTOR=LocalExecutor
AIRFLOW_LOAD_EXAMPLES=false
AIRFLOW_EXPOSE_CONFIG=true
AIRFLOW_WEBSERVER_EXPOSE_CONFIG=true
AIRFLOW_WEBSERVER_PORT=8080
AIRFLOW_SCHEDULER_PORT=8081