# Minio
MINIO_ROOT_USER=minioadmin
MINIO_ROOT_PASSWORD=MON_MOT_DE_PASSE
MINIO_ENDPOINT=localhost:9000

# PostgreSQL
POSTGRES_USER=etl_user
POSTGRES_PASSWORD=MON_MOT_DE_PASSE
POSTGRES_DB=etl_database
POSTGRES_HOST=postgres
POSTGRES_PORT=5433